<% content_for(:intro) do %>
	<h1>Manage Data</h1>
	<p class="solo">Use the interactive interface below to manage your data.</p>
<% end -%>

<% content_for(:content) do %>
  <% content_tag(:div, :class => 'table') do %>
    <% content_tag(:div, :id => 'search_form') do %>
      <% form_tag(by_user_data_sets_path, :method => :get) do %>
        <%= text_field_tag(:search, 
              params[:search] || 'search data', 
              :class => 'text', 
              :onfocus => %Q(if (this.value == 'search data') { this.value = '' }; this.style.color = '#555555';),
              :onblur  => %Q(if (this.value == '') { this.value = 'search data' }; this.style.color = '#aaaaaa';)) %>
        <%= hidden_field_tag(:sort, params[:sort]) if params[:sort] %>
        <%= hidden_field_tag(:show, params[:show]) if params[:show] %>
        <%= hidden_field_tag(:user_id, @user.id) %>
        <%= submit_tag(:search, :class => 'search_submit') %>
      <% end %>
    <% end %>
    <% form_tag(destroy_all_data_sets_path(:show => params[:show], :sort => params[:sort], :search => params[:search], :tag => params[:tag], :user_id => @user.id), :id => :select_form, :method => :delete) do %>
        <% content_tag(:div, :class => 'rel') do %>
          <% content_tag(:ul, :class => 'header_actions') do %>
            <%= content_tag(:li, link_to('View All', by_user_data_sets_path(:show => 'all', :sort => params[:sort], :search => params[:search], :tag => params[:tag], :user_id => @user.id), {}, {:class => 'header_actions'})) %>
            <%= content_tag(:li, submit_tag('Delete All', :class => 'deleteall_submit', :confirm => 'Are you sure you want to delete selected data_sets?')) if current_user %>
          <% end %>
        <% end %>
        <%= content_tag(:h3, "Data sets by user: #{content_tag(:em, @user.name)}") %>
      <% content_tag(:table, :class => 'sdt') do %>
        <% if !@data_sets.blank? %>
          <% content_tag(:thead) do %>
            <% content_tag(:tr) do %>
              <%= content_tag(:th, check_box_tag('jobs', 1, false, :onclick => "toggleCheckBoxes(this)")) if current_user %>
              <%= content_tag(:th, link_to('ID', by_user_data_sets_path(:search => params[:search], :tag => params[:tag], :user_id => @user.id, :show => params[:show], :sort => get_column_sort_criteria('id'))), :class => get_column_class('id')) %>
              <%= content_tag(:th, link_to('Name', by_user_data_sets_path(:search => params[:search], :tag => params[:tag], :user_id => @user.id, :show => params[:show], :sort => get_column_sort_criteria('name'))), :class => get_column_class('name')) %>
              <%= content_tag(:th, link_to('Description', by_user_data_sets_path(:search => params[:search], :tag => params[:tag], :user_id => @user.id, :show => params[:show], :sort => get_column_sort_criteria('description'))), :class => get_column_class('description')) %>
              <%= content_tag(:th, 'Security', :class => 'column-head') %>
              <%= content_tag(:th, 'Tags', :class => 'column-head') %>
              <%= content_tag(:th, 'Actions', :class => 'column-head') %>
            <% end %>
          <% end %>
          <% content_tag(:tbody, :id => 'table_body') do %>
            <% @data_sets.each do |data_set| %>
              <% content_tag(:tr, :class => cycle(' stripe', '')) do %>
                <%= content_tag(:td, (current_user.groups.default.first.data_sets.include?(data_set) or (current_user.is_site_admin? and data_set.is_public) or current_user.is_super_admin?) ? check_box_tag('data_set_ids[]', data_set.id) : '') if current_user %>
                <%= content_tag(:td, link_to(data_set.id, data_set), :class => get_column_class('id')) %>
                <%= content_tag(:td, link_to(data_set.name, data_set), :class => get_column_class('name')) %>
                <%= content_tag(:td, link_to(data_set.description, data_set), :class => get_column_class('description')) %>
                <%= content_tag(:td, get_item_visibility(data_set)) %>
                <%= content_tag(:td, data_set.tag_list.join(', ')) %>
                <%= content_tag(:td, get_data_set_actions(data_set), :class => 'actions') %>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <%= no_content('Sorry, no datasets matched your criteria') %>
        <% end %>
      <% end %>
      <%= will_paginate @data_sets unless params[:show] %>
    <% end %>
  <% end %>

<% end %>
