<% content_for(:head) do %>
  <%= ajaxful_rating_style %>
<% end -%>

<% content_for(:intro) do %>
  <%= content_tag(:h1, 'Manage Datasets') %>
  <%= content_tag(:p, 'Use the interactive interface below to manage your data.', :class => 'solo') %>
<% end %>

<% content_for(:content) do %>
  <h2>
    <span>Dataset:</span>
    <%=h @data_set.name %>
  </h2>
  <p>
    <strong>Description:</strong>
    <%=h @data_set.description %>
    <%= content_tag(:p, "Dataset file: #{link_to(@data_set.url, @data_set.url, :target => :blank)}") if @data_set.url %>
  </p>
  <p>
    <strong>Jobs:</strong>
    <%= @data_set.jobs.collect{|job| link_to(job.id, job) }.join(', ') %>
  </p>
  <p>
    <strong>Tags:</strong>
    <%= @data_set.tag_list.join(', ') %>
  </p>

  <% @raters.each do |rater| %>
    <hr size="0" />
    <div class="left_rating"><h3>Ratings by <%= (rater == current_user) ? 'you' : rater.name %>:</h3>
  <% DATASET_DIMENSIONS.each_pair do |dimension, title| %>
      <%= title %>: <%= ratings_for(@data_set, rater, :dimension => dimension, :show_user_rating => true, :wrap => (rater == current_user) ? true : false, :remote_options => {:url => rate_data_set_path(@data_set)}) %>
    <% end %></div>
    <% if comment = @data_set.comments.find_by_user_id(rater.id) %>
      <%= render(:partial => 'comments/comment', :locals => {:comment => comment}) %>
    <% elsif rater == current_user %>
      <%= render(:partial => 'comments/form', :locals => {:comment => @comment}) %>
  <% end %>
  <% end %>
  <% if current_user and !@raters.include?(current_user) %>
    <hr size="0" />
    <div class="left_rating"><h3>Ratings by you:</h3>
    <% DATASET_DIMENSIONS.each_pair do |dimension, title| %>
      <%= title %>: <%= ratings_for(@data_set, current_user, :dimension => dimension, :show_user_rating => true, :remote_options => {:url => rate_data_set_path(@data_set)}) %>
    <% end %></div>
    <%= render(:partial => 'comments/form', :locals => {:comment => @comment}) %>
  <% end %>	
  <%= clear %><br />

  <hr size="0" /> 
  <%= content_tag(:span, link_to('Edit dataset', edit_data_set_path(@data_set)), :class => 'spark-adv-submit') if current_user and (current_user.groups.default.first.data_sets.include?(@data_set) or (current_user.is_site_admin? and @data_set.is_public)) %>
  <%= content_tag(:span, link_to('Download Data', signed_url_data_set_path(@data_set)), :class => 'spark-adv-submit') unless @data_set.url %>
  <%= content_tag(:span, link_to('Back', (current_user and current_user.is_site_admin? and current_user != @data_set.owner) ? by_user_data_sets_path(:user_id => @data_set.owner.id) : data_sets_path), :class => 'form-cancel') %>
<% end %>
