<% content_for(:head) do %>
  <%= ajaxful_rating_style %>
<% end -%>

<% content_for(:intro) do %>
  <%= content_tag(:h1, 'View Dataset Votes') %>
  <%= content_tag(:p, "View votes for \"<strong>#{@data_set.name}</strong>\" dataset", :class => 'solo') %>
<% end %>

<% content_for(:content) do %>
  <% if @rates %>
    <%= content_tag(:h2, DATASET_DIMENSIONS[params[:dimension]]) %>
    <% @rates.each do |rate| %>
      <hr size="0" />
      <div class="left_rating"><strong><%= link_to(rate.rater.name, votes_user_path(rate.rater)) %></strong> <%= ratings_for @data_set, rate.rater, :dimension => params[:dimension], :show_user_rating => true, :force_static => true %></div>
      <% if comment = @data_set.comments.find_by_user_id(rate.rater.id) %>
        <%= render(:partial => 'comments/comment', :locals => {:comment => comment}) %>
      <% elsif rate.rater == current_user %>
        <%= render(:partial => 'comments/form', :locals => {:comment => @comment}) %>
      <% end  %>
      <%= clear %><br />
    <% end %>
  <% else %>
    <p>Unknown dataset attribute: <%= params[:dimension] %> or <%= params[:stars] %> is not in 1 to <%= RATING_STARS %> interval.</p>
  <% end %>
  <br/><br/>
  <%= content_tag(:span, link_to('Back', data_sets_path), :class => 'form-cancel') %>
<% end %>
