<tr class="<%= cycle('stripe', nil) %>">
  <td><%= announcement.text %></td>
  <td><%= announcement.created_at.strftime("%a, %b %d %H:%M, %Y") %></td>
  <td class="actions"><%= link_to("Edit", edit_announcement_path(announcement)) %> <%= link_to("Delete", announcement_path(announcement), :method => :delete, :confirm => "Are you sure?") %></td>
</tr>