<% content_tag(:div, :id => 'wizard_selection', :class => 'wizard_selection') do %>
  <div class="no_pag"><%= link_to_remote('View all records', :url => get_selected_r_scripts_path(:type => params[:type], :id => params[:id], :view => 'all')) %></div>
  <%= "<h3>Scripts tagged with <em>\" #{params[:id]} \"</em></h3>" if params[:type] == 'tag' %>
  <% content_tag(:table, :id => 'sdt', :class => 'sdt') do %>
    <% content_tag(:thead) do %>
      <% content_tag(:tr) do %>
        <%= content_tag(:th, link_to('ID')) %>
        <%= content_tag(:th, link_to('Name')) %>
        <%= content_tag(:th, '') %>
      <% end %>
    <% end %>
    <% content_tag(:tbody) do %>
      <% @r_scripts.each do |r_script| %>
        <% content_tag(:tr, :id => "tr_#{r_script.id}", :onmouseover => 'changeColor(this, true);', :onmouseout => 'changeColor(this, false)', :onclick => "selectElement('tr_#{r_script.id}', #{r_script.id}, 'r_scripts')", :class => (r_script == @r_scripts.first) ? 'current' : '') do %>
          <%= content_tag(:td, r_script.id) %>
          <%= content_tag(:td, r_script.name) %>
          <%= content_tag(:td, get_r_script_actions(r_script)) %>
        <% end %>
      <% end %>
    <% end %>
  <% end unless @r_scripts.blank? %>
  <%= will_paginate(@r_scripts, :id => 'ajax', :params => {:controller => 'r_scripts', :action => 'get_selected', :type => params[:type], :id => params[:id]}) unless params[:view] or @r_scripts.blank? %>
  
  <% content_tag(:div, :id => 'some_id', :class => 'some_id') do %>
    <%= render(:partial => 'r_scripts/logs', :locals => {:r_script => @r_scripts.first, :logs => @logs}) %>
  <% end unless @r_scripts.blank? %>
<% end %>
