<% content_for(:intro) do %>
  <%= content_tag(:h1, 'Manage Groups') %>
  <%= content_tag(:p, 'Use the interactive interface below to manage your Groups.', :class => 'solo') %>
<% end %>

<% content_for(:content) do %>
  <h2>
    <span>Name:</span>
    <%=h @group.name %>
  </h2>
  <p>
    <strong>Description:</strong>
    <%=h @group.description %>
  </p>
  <p>
    <strong>Read Me:</strong>
    <%= @group.read_me %>
  </p>
  <p>
    <%= link_to('Leave Group', leave_group_user_path(GroupUser.first(:conditions => ['user_id = ? AND group_id = ?', current_user.id, @group.id])), :confirm => 'Are you sure you want to leave this group?') if @group.users.approved.include?(current_user) and !@group.users.owners.include?(current_user) %>
  </p>
   
  <% content_tag(:div) do %><hr size="0" />
  <h3>Members:</h3>
  <% content_tag(:ol, :class => 'decimal_li') do %>
    <% @group.users.approved.each do |user| %> 
      <% content_tag(:li) do %>
        <%= user.name %>
        <% if @group.users.admins.include?(current_user) %> 
          <%= link_to('Cancel membershp', remove_group_user_path(GroupUser.first(:conditions => ['user_id = ? AND group_id = ?', user.id, @group.id])), :confirm => 'Are you sure you want to cancel this user membership?', :class => 'admin_action') %>
          <%= link_to('Make admin', change_role_group_user_path(GroupUser.first(:conditions => ['user_id = ? AND group_id = ?', user.id, @group.id]), :role_id => Role.find_by_name('Admin')), :confirm => 'Are you sure you want to make this user a group administrator?', :class => 'admin_action') unless @group.users.admins.include?(user) %>
          <%= link_to('Make user', change_role_group_user_path(GroupUser.first(:conditions => ['user_id = ? AND group_id = ?', user.id, @group.id]), :role_id => Role.find_by_name('User')), :confirm => 'Are you sure you want to make this administrator a regular user?', :class => 'admin_action') if @group.users.admins.include?(user) and  !@group.users.owners.include?(user) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %><% end if !@group.users.approved.blank? and (@group.show_members or @group.users.approved.include?(current_user)) %>
  
  <% content_tag(:div) do %><hr size="0" />  
  <h3>Memberships invites:</h3>
  <% content_tag(:ol, :class => 'decimal_li') do %>
    <% @group.users.invited.each do |user| %> 
      <% content_tag(:li) do %>
        <%= user.name %>
        <%= link_to('Cancel invitation', cancel_invite_group_user_path(GroupUser.first(:conditions => ['user_id = ? AND group_id = ?', user.id, @group.id])), :confirm => 'Are you sure you want to cancel this user membership invitation?') %>
      <% end %>
    <% end %>
  <% end %><% end if @group.users.admins.include?(current_user) and !@group.users.invited.blank? %>
  <%= content_tag(:span, link_to('Invite user to join group', new_group_user_path('group_user[group_id]' => @group.id)), :class => 'spark-adv-submit') if @group.users.admins.include?(current_user) %>
  <%= clear %>
  <br />

  <% content_tag(:div) do %><hr size="0" />  
  <h3>Membership requests:</h3>
  <% content_tag(:ol, :class => 'decimal_li') do %>
    <% @group.users.requested.each do |user| %> 
      <% content_tag(:li) do %>
        <%= user.name %>
        <%= link_to('Approve', approve_group_user_path(GroupUser.first(:conditions => ['user_id = ? AND group_id = ?', user.id, @group.id])), :class => 'admin_action') %>
        <%= link_to('Reject', reject_group_user_path(GroupUser.first(:conditions => ['user_id = ? AND group_id = ?', user.id, @group.id])), :class => 'admin_action') %>
      <% end %>
    <% end %>
  <% end %><% end if @group.users.admins.include?(current_user) and !@group.users.requested.blank? %>

  <hr size="0" />  
  <p><%= link_to 'Back', (current_user and current_user.is_site_admin? and current_user != @group.users.owners.first) ? by_user_groups_path(:user_id => @group.users.owners.first.id) : groups_path %></p>
<% end %>
