<% semantic_remote_form_for(parameter) do |form| %>
  <h3>Describe script inputs one by one</h3>
  <% content_tag(:ul, :class => 'form') do %>
	  <%= form.input(:r_script_id, :as => :hidden) %>
	  <%= form.input(:name, :label => 'Parameter name', :input_html => { :class => 'text'}) %><br />
	  <%= form.input(:title, :label => 'Display name', :input_html => { :class => 'text'}) %><br />
    <%= form.input(:kind, :label => 'Type', :as => :select, :collection => %w(String Dataset Integer Float Enumeration Boolean List), :include_blank => false, :input_html => {:onchange => 'change_input(); return false;'}) %><br />
	  <%= form.input(:default_value, :input_html => { :class => 'text'}) %>
      <%= clear(:li) %>
  <% end -%>

  <% form.buttons do %>
    <%= form.commit_button %>
  <% end %>
<% end %>
